*{
    padding: 0;
    margin: 0 auto;
}

body{
    width: 100%;
    overflow: hidden;
    background-color: #C5E4E7; 
}

.header{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  color: #00383D;
  font-size: 24px;
  font-weight: bolder;
}
input{
    cursor: pointer;
    border: none;
    outline: none;
    background-color:#F3F8FB;
    color: #1A4949;
    padding: 1px;
    font-weight: bolder;
    font-size: 24px;
    max-width: 7rem;
    
}
input::-webkit-input-placeholder{
    color: #C7D9DB;
}

div{
    border-radius: 20px;
}

.bill{
    border: none;
    background-color:#00383D ;
    color: white;
    padding: 15px;
    font-weight: bolder;
    cursor: pointer;
    max-width: 5rem;
    height: 3rem;
}

.bills_section_2{
    margin-top: 1rem;

}

.tip_inputs{
    width: 5rem;
    height: 2rem;
}


.bill:hover{
    background-color: #2C8C8A;
    color: black;
    padding: 15px;
    font-weight: bolder;
    cursor: pointer;
    
}

.bill:active{
    background-color: white;
    font-weight: bolder;
}
.main_container{
    display: flex;
    justify-content: space-around;
     padding-top: 5rem;
    background-color: white;
    max-width: 900px;
    height: 25rem;
}

.total_container{
    margin-top: 1rem;
    background-color: #00474B;
    color: white;
    max-width: 25rem;
    height: 21rem;
}

.total_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     padding-left: 2rem;
}

.tips_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
    font-size: 24px;
}
.total_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight:bolder ;
    font-size: 24px;
}
.reset_section{
    display: flex;
}

.reset{
    display: flex;
    justify-content: center;
    border: none;
    background-color: #2C8C8A;
    font-size: bolder;
    padding: 25px;
    min-width: 20rem;
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

.reset:hover{
    background-color: white;
    color: black;
    font-weight: bolder;
    font-size: 24px;
}

.tips{
    color: #25A195;
  
}

.total{
    color: #25A195;
}

 @media screen and ( max-width: 900px ) {
 /* body{
      min-width: 900px;
 } */

.splitter{
    display: flex;
    justify-content: center;
}
 .main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    min-width: 450px;
    height: 600px;
 }

 .person_input{
   min-width: 15rem;
    height: 2rem;
 }
 .input_bill{
    min-width: 15rem;
    height: 2rem;
 }

 
} 
